<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form action="" method="post">
    <p>
        <label for="last_name">Фамилия</label>
        <input type="text" name="last_name">
    </p>
    <p>
        <label for="first_name">Имя</label>
        <input type="text" name="first_name">
    </p>
    <p>
        <label for="middle_name">Отчество</label>
        <input type="text" name="middle_name">
    </p>
    <p>
        <label for="street">Улица</label>
        <input type="text" name="street">
    </p>
    <p>
        <label for="build">Дом</label>
        <input type="text" name="build">
    </p>
    <p>
        <label for="build_k">Корпус</label>
        <input type="text" name="build_k">
    </p>
    <p>
        <label for="apartment">Кваритра</label>
        <input type="text" name="apartment">
    </p>
    <p>
        <label for="telephone">Телефон</label>
        <input type="text" name="telephone">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

</body>
</html>
